.form-group {
  .form-control {
    background-color: transparent;
    border-radius: 0;
    border-width: 0 0 3px 0;
    border-color: $bone;
    color: $bone;
    font-size: 18px;
    font-weight: 800;
    padding: 0 0 5px 0;
    height: 32px;
    &:focus {
      color: $primary;
      background-color: transparent;
      border-color: $primary;
      outline: 0;
      box-shadow: none;
    }
  }
  .custom-control-inline {
    border-width: 0 0 3px 0;
    border-color: $bone;
    border-style: solid;
    height: 35px;
    width: 100%;
    .custom-control-label {
      height: 35px;
      width: 100%;
      i {
        font-size: 22px;
        color: $bone;
        position: absolute;
        right: 3px;
      }
      &::before {
        background: transparent;
        border-radius: 3px;
        border: 2px solid $bone;
        width: 20px;
        height: 20px;
      }
      &::after {
        width: 20px;
        height: 20px;
      }
    }
  }
  .vdp-datepicker {
    height: 35px;
    width: 100%;
    input {
      width: 100%;
      height: 35px;
      border: none;
      color: $bone;
      text-align: left;
      &:focus {
        outline: none;
        color: $primary;
        border-color: $primary;
      }
      border: 2px solid $bone;
      border-width: 0 0 3px 0;
      text-transform: uppercase;
      background: transparent;
      font-weight: 800;
      font-size: 18px;
      transition: 200ms ease-in-out;
    }
  }
  .calendar-icon {
    position: absolute;
    bottom: 13px;
    right: 3px;
    font-size: 22px;
    height: 35px;
    width: 35px;
    //color: lighten($charcoal, 35%);
    color: $bone;
  }
  .dropdown.v-select  {
    border-radius: 0px;
    height: 35px;
    background: transparent;
    transition: 200ms ease-in-out;
    width: 100%;
    border-width: 0 0 3px 0;
    border-color: $bone;
    position: relative;
    .open-indicator {
      right: 3px;
      &::before {
        height: 8px;
        width: 8px;
        border-width: 2px 2px 0 0;
      }
    }
    .dropdown-toggle {
      .selected-tag {
        font-family: 'Avenir';
        font-weight: 800;
        font-size: 18px;
        margin: 2px 0;
        padding: 0;
      }
      .clear {
        right: 25px;
      }
      input {
        opacity: 0;
      }
    }
  }
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
}

.form-group .custom-control-inline .custom-control-label::before {
  box-shadow: none;
}

.col-form-label {
  padding-bottom: 0;
  color: lighten($charcoal, 35%);
  font-size: 14px;
  font-weight: 700;
}

.dropdown.v-select  {
  border-radius: 0px;
  height: 40px;
  text-transform: uppercase;
  background: transparent;
  font-weight: 900;
  font-size: 16px;
  transition: 150ms ease-in-out;
  width: 225px;
  border: 2px solid $bone;
  position: relative;
  &.open {
    border-bottom: 2px solid transparent;
    .open-indicator {
      top: 14px;
    }
  }
  .dropdown-toggle {
    border-style: none;
    height: 100%;
    .clear {
      margin-right: 10px;
      color: $bone;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 16px;
    }
    &.clearfix {
      border-style: none;
      height: 100%;
    }
    &::after {
      border-style: none;
      height: 100%;
    }
  }
  .open-indicator {
    position: absolute;
    top: 10px;
    &::before {
      border-color: $bone;
    }
  }
  .selected-tag {
    color: $bone;
    font-family: 'Avenir';
  }
  ul.dropdown-menu {
    min-width: 100px;
    background: $charcoal-translucent;
    border-radius: 0px;
    border-style: none;
    color: $bone;
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    & > .highlight > a {
      background: transparent;
      &:hover {
        color: $charcoal;
      }
    }
    .active > a {
      color: $primary;
    }
    li {
      a {
        min-width: 100px;
        transition: all 150ms ease-in-out;
        &:hover {
          background: $primary;
        }
      }
    }
  }

  &.dropdown-menu > .highlight > a {
    background: transparent;
  }
  input[type="search"], .v-select input[type="search"]:focus {
    position: absolute;
    top: 0;
    height: 100%;
    font-weight: 900;
    font-size: 16px;
    color: $bone;
  }
}

.input-label {
  color: $bone;
  width: 225px;
  text-transform: uppercase;
}

$calendar-color: $bone;
.vdp-datepicker.style-btn {
  height: 40px;
  width: 225px;
  input {
    border: none;
    color: transparent;
    text-shadow: 0 0 0 $bone;
    text-align: center;
    &:focus {
      outline: none;
    }
    &:hover {
      background: $bone;
      color: transparent;
      text-shadow: 0 0 0 $charcoal;
    }
    border: 2px solid $bone;
    border-radius: 2px;
    text-transform: uppercase;
    background: transparent;
    //color: $bone;
    font-weight: 900;
    font-size: 16px;
    transition: 300ms ease-in-out;
    height: 40px;
    width: 225px;
  }
}

.vdp-datepicker__calendar {
  border-style: none;
  border-radius: 1px;
  background: rgba(57, 55, 54, 0.85);
  //border: 2px solid $calendar-color;
  //background: $charcoal-translucent;
  width: 225px;
  font-weight: 600;
  color: $calendar-color;
  transition: all 100ms ease-in-out !important;
  //width: 100%;
  //height: 100%;
  header {
    .next {
      transition: 100ms ease-in-out;
      border-radius: 2px;
      &::after {
        border-left: 10px solid $calendar-color;
      }
        &::after:hover {
          border-left: 10px solid #444444;
        }
    }
    .prev {
      transition: 100ms ease-in-out;
      border-radius: 1px;
      &::after {
        border-right: 10px solid $calendar-color;
        &:hover {
          border-left: 10px solid #444444;
        }
      }
    }
    .up {
      border-radius: 1px;
      transition: 100ms ease-in-out;
    }
    .prev:not(.disabled):hover, .next:not(.disabled):hover, .up:not(.disabled):hover {
      color: #444444;
      background: rgba(125, 185, 185, 0.9);
    }
  }
  .cell {
    transition: 100ms ease-in-out;
    border-style: none;
    border-radius: 1px;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    //width: 35px;
    &.day-header:hover {
      color: #D0CABD;
    }
    &:hover {
      background: rgba(125, 185, 185, 0.9);
      color: #444444;
      border-style: none;
    }
    &.selected {
      background: rgba(125, 185, 185, 0.9);
      color: #444444;
      &:hover {
        background: rgba(125, 185, 185, 0.9);
      }
    }
    &:not(.blank):not(.disabled).day:hover,
    &:not(.blank):not(.disabled).month:hover,
    &:not(.blank):not(.disabled).year:hover {
      border-style: none;
    }
    &.blank:hover {
      background: transparent;
    }
  }
}

::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: uppercase;
    opacity: 1; /* Firefox */
}

.form-control::placeholder {
  //color: $charcoal-translucent;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: uppercase;
}

::-ms-input-placeholder { /* Microsoft Edge */
    text-transform: uppercase;
}
