.dropdown.v-select  {
  border-radius: 0px;
  height: 40px;
  text-transform: uppercase;
  background: transparent;
  font-weight: 900;
  font-size: 16px;
  transition: 200ms ease-in-out;
  width: 225px;
  border: 2px solid $bone;
  position: relative;
  &.open {
    border-bottom: 2px solid transparent;
    .open-indicator {
      top: 14px;
    }
  }
  .dropdown-toggle {
    border-style: none;
    height: 100%;
    .clear {
      margin-right: 10px;
      color: $bone;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 16px;
    }
    &.clearfix {
      border-style: none;
      height: 100%;
    }
    &::after {
      border-style: none;
      height: 100%;
    }
  }
  .open-indicator {
    position: absolute;
    top: 10px;
    &::before {
      border-color: $bone;
    }
  }
  .selected-tag {
    color: $bone;
  }
  ul.dropdown-menu {
    background: $charcoal-translucent;
    border-radius: 0px;
    border-style: none;
    color: $bone;
    margin: 0;
    padding: 0;
    & > .highlight > a {
      background: transparent;
      &:hover {
        color: $charcoal;
      }
    }
    .active > a {
      color: $cyan;
    }
    li {
      a {
        transition: all 200ms ease-in-out;
        &:hover {
          background: $cyan;
        }
      }
    }
  }

  &.dropdown-menu > .highlight > a {
    background: transparent;
  }
  input[type="search"], .v-select input[type="search"]:focus {
    position: absolute;
    top: 0;
    height: 100%;
    font-weight: 900;
    font-size: 16px;
    color: $bone;
  }
}

.input-label {
  color: $bone;
  width: 225px;
  text-transform: uppercase;
}

$calendar-color: $bone;
.vdp-datepicker {
  height: 40px;
  width: 225px;
  input {
    border: none;
    color: transparent;
    text-shadow: 0 0 0 $bone;
    text-align: center;
    &:focus {
      outline: none;
    }
    &:hover {
      background: $bone;
      color: transparent;
      text-shadow: 0 0 0 $charcoal;
    }
    border: 2px solid $bone;
    border-radius: 0px;
    text-transform: uppercase;
    background: transparent;
    //color: $bone;
    font-weight: 900;
    font-size: 16px;
    transition: 300ms ease-in-out;
    height: 40px;
    width: 225px;
  }
}
.vdp-datepicker__calendar {
  border-style: none;
  background: rgba(57, 55, 54, 0.85);
  //border: 2px solid $calendar-color;
  //background: $charcoal-translucent;
  font-weight: 600;
  color: $calendar-color;
  transition: all 200ms ease-in-out !important;
  //width: 100%;
  //height: 100%;
  header {
    .next {
      transition: 200ms ease-in-out;
      &::after {
        border-left: 10px solid $calendar-color;
      }
        &::after:hover {
          border-left: 10px solid #444444;
        }
    }
    .prev {
      transition: 200ms ease-in-out;
      &::after {
        border-right: 10px solid $calendar-color;
        &:hover {
          border-left: 10px solid #444444;
        }
      }
    }
    .up {
      transition: 200ms ease-in-out;
    }
    .prev:not(.disabled):hover, .next:not(.disabled):hover, .up:not(.disabled):hover {
      color: #444444;
      background: rgba(125, 185, 185, 0.9);
    }
  }
  .cell {
    transition: 200ms ease-in-out;
    border-style: none;
    &.day-header:hover {
      color: #D0CABD;
    }
    &:hover {
      background: rgba(125, 185, 185, 0.9);
      color: #444444;
      border-style: none;
    }
    &.selected {
      background: rgba(125, 185, 185, 0.9);
      color: #444444;
      &:hover {
        background: rgba(125, 185, 185, 0.9);
      }
    }
    &:not(.blank):not(.disabled).day:hover,
    &:not(.blank):not(.disabled).month:hover,
    &:not(.blank):not(.disabled).year:hover {
      border-style: none;
    }
    &.blank:hover {
      background: transparent;
    }
  }
}

::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: uppercase;
    opacity: 1; /* Firefox */
}

.form-control::placeholder {
  //color: $charcoal-translucent;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: uppercase;
}

::-ms-input-placeholder { /* Microsoft Edge */
    text-transform: uppercase;
}
