.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  min-width: 1000px;
  z-index: 1001;
  padding: 0px;
  background: transparent;
  transition: all 750ms;
  &.darken {
    height: 65px;
    background: rgba(57, 55, 54, 0.85);
  }
}

.logo-div {
  transition: all 500ms;
  &.shrink {
    margin-top: 0px;
    transform: scale(0.75);
  }
}
.nav-buttons {
  height: 100%;
  width: auto;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 35px;
}
.nav-btn {
  height: 40px;
  width: 100px;
  min-width: 100px;
  margin-right: 10px;
  background: transparent;
  color: $bone;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 900;
  font-size: 16px;
  transition: all 250ms ease-in-out;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  &:hover {
    //border-bottom: 3px solid $bone;
    text-decoration: none;
    color: $bone;
  }
  &:not(.is-active):after {
    display:block;
    content: '';
    margin-top: 3px;
    border-bottom: solid 3px $bone;
    transform: scaleX(0);
    transition: all 250ms ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1);
  }
  &.fromRight:after{
    transform-origin: 100% 50%;
  }
  &.fromLeft:after{
    transform-origin: 0% 50%;
  }
  &.is-active {
    color: $cyan;
    border-bottom: 3px solid $cyan;
    transition: all 250ms ease-in-out;
  }
}