//@import url('./styles/navbar.scss');
// Global sass
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  //background: #E2DFDD;
  // background: rgba(125,185,185,1);
  // background: -moz-linear-gradient(-45deg, rgba(125,185,185,1) 0%, rgba(226,220,204,1) 100%);
  // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(125,185,185,1)), color-stop(100%, rgba(226,220,204,1)));
  // background: -webkit-linear-gradient(-45deg, rgba(125,185,185,1) 0%, rgba(226,220,204,1) 100%);
  // background: -o-linear-gradient(-45deg, rgba(125,185,185,1) 0%, rgba(226,220,204,1) 100%);
  // background: -ms-linear-gradient(-45deg, rgba(125,185,185,1) 0%, rgba(226,220,204,1) 100%);
  // background: linear-gradient(135deg, rgba(125,185,185,1) 0%, rgba(226,220,204,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9b9', endColorstr='#e2dccc', GradientType=1 );
}

//
// Colors
//
$chalk: #EDEBEB;
$bone: #E3DCCE;
$charcoal: #464242;
$cyan: #7DB9B9;
$charcoal-translucent: rgba(57, 55, 54, 0.8);

.color-bone {
  color: $bone;
}
.color-charcoal {
  color: $charcoal;
}


#app {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //color: #2c3e50;
  //padding: 80px;
}

h1 {
  font-size: 54px;
  font-weight: 900;
}
h2 {
  font-size: 42px;
  font-weight: 900;
}
h3 {
  font-size: 36px;
  font-weight: 800;
}
h4 {
  font-size: 28px;
  font-weight: 700;
}
h5 {
  font-size: 22px;
  font-weight: 700;
}
h6 {
  font-size: 18px;
  font-weight: 900;
}

.content {
  min-width: 1100px;
  width: 100vw;
  position: absolute;
  top: 0;
}

#home {
  width: 100vw;
  min-width: 1100px;
  height: 100vh;

  background: url(./assets/bg-temp.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#gallery {
  padding-top: 125px;
  width: 100vw;
  min-width: 1100px;
  height: 100vh;
  min-width: 700px;
  background: $chalk;

}

#rates {
  padding-top: 125px;
  width: 100vw;
  min-width: 1100px;
  height: 100vh;
  min-width: 700px;
  background: $chalk;

}

#book {
  width: 100vw;
  min-width: 1100px;
  height: 100vh;

  background: url(./assets/bg-temp.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact {
  width: 100vw;
  min-width: 1100px;
  height: 100vh;

  background: url(./assets/bg-temp.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.shade {
  background: $charcoal-translucent;
  padding-top: 125px;
  width: 100%;
  height: 100%;
  padding-right: 0px;
}

.headline {
  margin-top: 5vh;
  margin-bottom: 85px;
  h1 {
    margin-top: 25px;
  }
}

.btn {
  border-radius: 0px;
  height: 40px;
  text-transform: uppercase;
  background: transparent;
  color: $bone;
  font-weight: 900;
  font-size: 16px;
  transition: 300ms ease-in-out;
  &.outline {
    border: 2px solid $bone;
    &:hover {
      background: $bone;
      color: $charcoal;
    }
  }
  &.block {
    width: 100%;
  }
  &.size-sm {
    width: 110px;
  }
  &.size-md {
    width: 150px;
  }
  &.size-lg {
    width: 225px;
  }
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  //align-items: stretch;
}

.google-maps {
  border: 3px solid $bone;
}

.dropdown.v-select  {
  border-radius: 0px;
  height: 40px;
  text-transform: uppercase;
  background: transparent;
  font-weight: 900;
  font-size: 16px;
  transition: 300ms ease-in-out;
  width: 225px;
  border: 2px solid $bone;
  position: relative;
  &.open {
    border-bottom: none;
  }
  .selected-tag {
    color: $bone;
  }
  .dropdown-toggle, .dropdown-toggle.clearfix {
    border-style: none;
    height: 100%;
  }
  .dropdown-toggle::after {
    border-style: none;
    height: 100%;
  }
  /* ul.dropdown-menu {
    background: $charcoal-translucent;
    border-radius: 0px;
    border-style: none;
    color: $chalk;
    a {
      &:hover, &.highlight {
        background: transparent;
      }
    }
  }

  &.dropdown-menu > .highlight > a {
    background: transparent;
  } */
  input[type="search"], .v-select input[type="search"]:focus {
    position: absolute;
    top: 0;
  }
}